html,
body {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.app-container {
  width: 480px;
  min-height: 480px;

  > canvas {
    border: 1px solid grey;
    background-color: darkgray;
  }
}

.game-status{
  font-family: 'Courier New', Courier, monospace;
  font-size: xx-large;
  text-align: center;
}
